.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example: Add box shadow for depth */
}

.image img {
  transition: all 0.5s;
}

.card:hover .image img {
  transform: scale(1.5);
}

.btn {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.idd {
  font-size: 14px;
  font-weight: 600;
}

.idd1 {
  font-size: 12px;
}

.number {
  font-size: 22px;
  font-weight: bold;
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444;
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px;
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500;
}

.icons i {
  font-size: 19px;
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold;
}

.date {
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
}

.icons .icon-link {
  display: inline-block;
  margin: 0 10px; /* Adjust spacing between icons */
  text-decoration: none; /* Remove underline from links */
  font-size: 2rem;
}
.icon-link {
  font-size: 150%;
  margin: 2%;
  color: #000;
}
.icons .icon-link:hover {
  opacity: 0.7; /* Example: reduce opacity on hover */
}
.icon-link:hover {
  opacity: 0.7; /* Example: reduce opacity on hover */
  color: blue;
}
